/* Mobile first */
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-family: 'Press Start 2P';
  font-size: 1.2rem;
  color: #343434;
}

#grid-board-game {
  display: grid;
  grid-template-columns: 7vw 7vw 7vw 7vw 7vw 7vw 7vw ;
  justify-content: center;
  align-items: center;
  background-color: #0e1c26;
  border-radius: 30px;
  gap: 10px;
  padding: 20px;
  width: 100vw;
  height: auto;
  max-width: fit-content;

}

.board {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4vw;
  text-align: center;
  border-radius: 100%;
}

.top-board{
  display: flex;
  justify-content: center;
}

.select-button{
  background: none;
  border: none;
}

i {
  font-size: 1.2rem;
  color: whitesmoke;
}

.red{
  background-color:red;
}

.yellow{
  background-color: yellow;
}

#winner{
  font-family: 'Rubik Iso';
  font-size: 2rem;
  color: orangered;
  padding: 20px;
  font-weight: bolder;
}

#reset{
  background-color: aqua;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  margin: 15px 0 25px 30px;
  color: #16212a;
  font-weight: bold;
}

@media only screen and (min-width: 600px){
  h1{
    font-size: 2rem;
  }

  #grid-board-game{
    grid-template-columns: 6vw 6vw 6vw 6vw 6vw 6vw 6vw ;
    height: auto;
  }

  .board{
    padding: 3vw;
  }

  #winner{
    font-size: 3rem;
  }
}

@media only screen and (min-width: 992px){
  h1{
    font-size: 3rem;
  }

  #grid-board-game{
    grid-template-columns: 5vw 5vw 5vw 5vw 5vw 5vw 5vw ;
  }

  .board{
    padding: 2.5vw;
  }
}


@media only screen and (min-width: 1200px) {

  #grid-board-game{
    grid-template-columns: 4vw 4vw 4vw 4vw 4vw 4vw 4vw ;
    gap: 25px;
  }

  .board{
    padding: 2vw;
  }

  #winner{
    font-size: 3.5rem ;
  }
}





